#You {
    position: relative;
    font-size: x-small;
}

#Are {
    position: relative;
    font-size: x-small;
}

#The {
    position: relative;
    font-size: x-small;
}

#Best {
    position: relative;
    font-size: x-small;
}

#Train {
    position: relative;
    font-size: x-small;
}